<app-topbar></app-topbar>
<img src="../../../../assets/Slider/groundhandlingtwo.jpg" class="" width="100%" alt="Ground handling" loading="lazy">
<div class="container">
    <div class="row">
        <div class="col-12  d-flex justify-content-center">
            <div class="ground-card" style="bottom: 38px; z-index: 1;" data-aos-once="true" data-aos="fade-up" data-aos-duration="2000">
                <div class="card-body">
                    <div class="">
                        <div>
                            <h1 class="title" style="font-weight: bold;margin-bottom: 2rem;">Ground Services</h1>
                            <p style="word-spacing: 2px;">Every passenger journey has multiple seen and unseen interactions with Menzies. We always do our best to deliver safe and trusted service and a world-class passenger experience for every customer, every time. None more so than
                                ground services, where our dedicated teams make sure that 200m passengers every year are ready for take-off through the delivery of a portfolio of supportive services. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="content-ground" data-aos="fade-left" data-aos-duration="2000">
                    <div class="content-image-repeater__content__inner">
                        <h3 class="" style="font-weight: bold;margin-bottom: 2rem;">Ramp handling and baggage</h3>
                        <div class="content-image-repeater__text">
                            <p style="word-spacing: 2px;">
                                We lead the industry inthe time critical process of meeting, preparing and dispatching aircraft, all over the world. Our ground teams take immense pride in delivering quality through best practice working processes, an exceptional approach to safety and
                                investment in the kills and wellbeing of our people.
                            </p>
                            <ul class="mt-3">
                                <li>
                                    Specialist planning and allocation systems
                                </li>
                                <li>
                                    Investment in green, performance boosting GSE
                                </li>
                                <li>
                                    Industry leading risk management
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/Slider/Ground-handling1.jpg" class="" alt="Ground handling" loading="lazy" style="margin-left: -68px;height: 70%">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="../../../../assets/Slider/Ground-handling1.jpg" class="" alt="Ground handling" loading="lazy" style="height: 70%">
            </div>
            <div class="col-md-7">
                <div class="content-groundright" data-aos="fade-right" data-aos-duration="2000">
                    <div class="content-image-repeater__content__inner">
                        <h3 class="" style="font-weight: bold;margin-bottom: 2rem;margin-left: 30px">De-icing</h3>
                        <div class="content-image-repeater__text">
                            <p style="word-spacing: 2px;margin-left: 30px">
                                We are the de-icing specialists, and always ensure our people and equipment are in the right place at the right time, regardless of how quickly the weather deteriorates. We spray more than 41,000 aircraft with 15 million litres of de-icing fluid annually
                                so our airline customers know they can stick to their schedule however unpredictable the weather.
                            </p>
                            <ul class="mt-3">
                                <li>
                                    Innovative de-icing technology.
                                </li>
                                <li>
                                    200+ de-icing rigs.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row h-50">
            <div class="col-md-7">
                <div class="content-ground" data-aos="fade-right" data-aos-duration="2000">
                    <div class="content-image-repeater__content__inner">
                        <h3 class="" style="font-weight: bold;margin-bottom: 2rem;">Passenger services</h3>
                        <div class="content-image-repeater__text">
                            <p style="word-spacing: 2px;">
                                Welcoming passengers and providing first-rate customer services during their journey are responsibilities of the utmost importance, particularly as our agents are often the passenger’s first connection with the customer airline. Our team provides friendly,
                                efficient and tailored passenger services from check-in to boarding and back again at more than 120 locations.
                            </p>
                            <ul class="mt-3">
                                <li>
                                    Through check-in to boarding
                                </li>
                                <li>
                                    Experts in multiple DCS systems
                                </li>
                                <li>
                                    Tailored to match individual airline standards and experience
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/Slider/Ground-handling1.jpg" class="" alt="Ground handling" loading="lazy" style="margin-left: -68px;height: 70%">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
