<app-topbar></app-topbar>
<img src="../../../../assets/Slider/Travelbanner.jpg" style="width: 100%;" alt="Ground handling" loading="lazy">
<div class="container">
    <div class="row">
        <div class="col-12  d-flex justify-content-center">
            <div class="ground-card" style="bottom: 38px; z-index: 1;" data-aos="fade-up" data-aos-duration="2000">
                <div class="card-body">
                    <div class="">
                        <div>
                            <h1 class="title" style="font-weight: bold;margin-bottom: 2rem;">Ticketing & Travel Services</h1>
                            <p style="word-spacing: 2px;">We manage the global transportation of high value and time critical cargo. Decades of experience, supported by cost-effective and smart logistics solutions, means we are trusted to provide a reliable and secure service. Our
                                cargo network now covers 53 locations across the globe and continues to grow. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="content-ground" data-aos="fade-left" data-aos-duration="2000">
                    <div class="content-image-repeater__content__inner">
                        <h3 class="" style="font-weight: bold;margin-bottom: 2rem;">State-of-the-art cargo technology</h3>
                        <div class="content-image-repeater__text">
                            <p style="word-spacing: 2px;">
                                Our global transportation logistics are supported by the Hermes cargo handling system. This secure digital system allows us to track and manage every single item, ensuring we deliver the service agreed with our customers.
                            </p>
                            <ul class="mt-3">
                                <li>
                                    Data-driven logistics
                                </li>
                                <li>
                                    Automated customer communication
                                </li>
                                <li>
                                    Prioritisation of cargo
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/Slider/Ticket1.jpg" class="" alt="Ground handling" loading="lazy" style="margin-left: -68px;height: 70%">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <img src="../../../../assets/Slider/Labour-790x520-New.jpg" class="" alt="Ground handling" loading="lazy" style="height: 70%">
            </div>
            <div class="col-md-7">
                <div class="content-groundright" data-aos="fade-right" data-aos-duration="2000">
                    <div class="content-image-repeater__content__inner">
                        <h3 class="" style="font-weight: bold;margin-bottom: 2rem;margin-left: 30px">Cargo handling</h3>
                        <div class="content-image-repeater__text">
                            <p style="word-spacing: 2px;margin-left: 30px">
                                Our multi-airport location network means we are perfectly positioned to provide a cost-effective solution for customers seeking worldwide support. We also work with trucking services to ensure our customers benefit from most efficient routes.
                            </p>
                            <ul class="mt-3">
                                <li>
                                    Proper acceptance of goods.
                                </li>
                                <li>
                                    Warehouse storage facilities.
                                </li>
                                <li>
                                    Build-up and breakdown.
                                </li>
                                <li>
                                    Customs clearance requirements .
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row h-50">
            <div class="col-md-7">
                <div class="content-ground" data-aos="fade-right" data-aos-duration="2000">
                    <div class="content-image-repeater__content__inner">
                        <h3 class="" style="font-weight: bold;margin-bottom: 2rem;">Special cargo</h3>
                        <div class="content-image-repeater__text">
                            <p style="word-spacing: 2px;">
                                Our customers trust us to take care of their most sensitive and precious items. Our cargo handling teams are highly trained and experienced in providing solutions for the handling of special cargo, such as:
                            </p>
                            <ul class="mt-3">
                                <li>
                                    Live animals.
                                </li>
                                <li>
                                    Dangerous goods.
                                </li>
                                <li>
                                    High value items.
                                </li>
                                <li>
                                    Human remains.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/Slider/Special-Cargo-790x520-1.jpg" class="" alt="Ground handling" loading="lazy" style="margin-left: -68px;height: 70%">
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
