<app-topbar></app-topbar>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="350" height="300" src="../../../assets/Slider/news1.jpg" class="zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass card-grid__content " data-aos-mirror="true" data-aos="fade-down-right" data-aos-duration="2000">
                        <h5>Menzies Aviation achieves further IATA pharmaceuticals handling accreditation at Heathrow and Budapest</h5>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-md-4">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="350" height="300" src="../../../assets/Slider/news2.jpg" class="attachment-card size-card zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass">
                        <div class="card-grid__content" data-aos-mirror="true" data-aos="fade-down-right" data-aos-duration="2000">
                            <h4>
                                <h5>Menzies Aviation achieves further IATA pharmaceuticals handling accreditation at Heathrow and Budapest</h5>
                            </h4>
                        </div>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-md-4">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="350" height="300" src="../../../assets/Slider/news3.jpg" class="attachment-card size-card zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass">
                        <div class="card-grid__content" data-aos-mirror="true" data-aos-once="false" data-aos="fade-down-right" data-aos-duration="2000">
                            <h4>
                                <h5>Menzies Aviation achieves further IATA pharmaceuticals handling accreditation at Heathrow and Budapest</h5>
                            </h4>
                        </div>
                    </div>
                </figure>
            </a>


        </div>
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="350" height="300" src="../../../assets/Slider/news1.jpg" class="zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass card-grid__content " data-aos-mirror="true" data-aos="fade-down-right" data-aos-duration="2000">
                        <h5>Menzies Aviation achieves further IATA pharmaceuticals handling accreditation at Heathrow and Budapest</h5>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-md-4">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="350" height="300" src="../../../assets/Slider/news2.jpg" class="attachment-card size-card zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass">
                        <div class="card-grid__content" data-aos-mirror="true" data-aos="fade-down-right" data-aos-duration="2000">
                            <h4>
                                <h5>Menzies Aviation achieves further IATA pharmaceuticals handling accreditation at Heathrow and Budapest</h5>
                            </h4>
                        </div>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-md-4">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="350" height="300" src="../../../assets/Slider/news3.jpg" class="attachment-card size-card zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass">
                        <div class="card-grid__content" data-aos-mirror="true" data-aos-once="false" data-aos="fade-down-right" data-aos-duration="2000">
                            <h4>
                                <h5>Menzies Aviation achieves further IATA pharmaceuticals handling accreditation at Heathrow and Budapest</h5>
                            </h4>
                        </div>
                    </div>
                </figure>
            </a>


        </div>
    </div>
</div>
<div class="mt-4">
    <app-footer></app-footer>
</div>
