.card-grid__content {
    position: relative;
    width: 90%;
    border-radius: 0px !important;
    top: 50px;
    border: 6px;
    left: 0px;
    padding: 7px 8px 17px 4px;
    background: white;
}

.action-link a {
    background: url(../../../assets/Slider/arrow--turquoise--right.svg) no-repeat right center;
    background-size: auto 1.4rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #00bcc8;
    font-weight: 700;
    padding: 0.6rem 1.5rem 0.6rem 0;
}

.action-link a:before {
    content: "";
    width: 0%;
    background: #00bcc8;
    padding-left: 0;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    height: 1.4px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.action-link a:after,
.btn--action:after,
a.btn--download:after {
    content: "";
    width: 0%;
    padding: 0 34% 0 0%;
    height: 3px;
    display: block;
    background: #00bcc8;
    margin-left: 0%;
    transition: all 0.3s ease-in-out;
    clear: both;
    /* position: absolute; */
    bottom: 0rem;
    left: 0;
    right: 0;
}

.xyzClass {
    margin-top: -98px;
}
