/* Menzies */

.card-grid__content {
    position: relative;
    width: 65%;
    border-radius: 0px !important;
    border: 6px;
    bottom: 177px;
    left: 0px;
    padding: 7px 8px 17px 4px;
    background: white;
}

.action-link a {
    background: url(../../../assets/Slider/arrow--turquoise--right.svg) no-repeat right center;
    background-size: auto 1.4rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    display: inline-block;
    color: #00bcc8;
    font-weight: 700;
    padding: 0.6rem 1.5rem 0.6rem 0;
}

.action-link a:before {
    content: "";
    width: 0%;
    background: #00bcc8;
    padding-left: 0;
    display: block;
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    height: 1.4px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.action-link a:after,
.btn--action:after,
a.btn--download:after {
    content: "";
    width: 0%;
    padding: 0 34% 0 0%;
    height: 3px;
    display: block;
    background: #00bcc8;
    margin-left: 0%;
    transition: all 0.3s ease-in-out;
    clear: both;
    /* position: absolute; */
    bottom: 0rem;
    left: 0;
    right: 0;
}

.xyzClass {
    margin-top: -98px;
}

.section-header h3 {
    font-size: 36px;
    color: #283d50;
    text-align: center;
    font-weight: 500;
    position: relative
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    color: #556877;
    width: 50%
}

#clients .clients-wrap {
    border-top: 1px solid #d6eaff;
    border-left: 1px solid #d6eaff;
    margin-bottom: 30px
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #d6eaff;
    border-bottom: 1px solid #d6eaff;
    overflow: hidden;
    background: #fff;
    height: 160px
}

#clients img {
    transition: all 4s ease-in-out
}

.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
    padding: 15px 15px 80px;
}

.come-from-modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.come-from-modal.right.fade.in .modal-dialog {
    right: 0;
}
