<div class="container">
    <div class="row">
        <div class="col-md-12  d-flex justify-content-center">
            <div class="card shadow" style="bottom: 38px; z-index: 1;border-bottom: 4px solid;border-bottom-color: #1e3669;padding: 0px 30px 0px 30px;" data-aos="fade-down" data-aos-duration="2000">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <h4 class="title" style="font-weight: bold;">Our Services</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="550" height="450" src="../../../assets/Slider/Serviceimgone.jpg" class="zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass card-grid__content " data-aos-mirror="true" data-aos="fade-down-right" data-aos-duration="2000">
                        <figure>
                            <img src="../../../assets/Slider/icon-headset.svg" class="attachment-icon size-icon" alt="" loading="lazy" height="20.54" width="21.1">
                        </figure>
                        <h4>Ground Handling Services </h4>
                        <a class="btn--action" routerLink="/Groundservice">
              Find out more
            </a>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="550" height="450" src="../../../assets/Slider/retouched.jpg" class="attachment-card size-card zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass">
                        <div class="card-grid__content" data-aos-mirror="true" data-aos="fade-down-right" data-aos-duration="2000">
                            <figure class="card-grid__icon">
                                <img src="../../../assets/Slider/icon-cargo-1.svg" class="attachment-icon size-icon" alt="" loading="lazy" height="20.54" width="21.1">
                            </figure>
                            <h4>Cargo Handling Services</h4>
                            <a class="btn--action" routerLink="/CargoHandlingService" target="_self">
                            Find out more
              </a>
                        </div>
                    </div>
                </figure>
            </a>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6 d-flex justify-content-center">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="550" height="450" src="../../../assets/Slider/Ticket1.jpg" class="zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass card-grid__content " data-aos-mirror="true" data-aos="fade-down-right" data-aos-duration="2000">
                        <figure>
                            <img src="../../../assets/Slider/plane-svgrepo-com.svg" class="attachment-icon size-icon" alt="" loading="lazy" height="20.54" width="21.1">
                        </figure>
                        <h4>Ticketing & Travel Services </h4>
                        <a class="btn--action" routerLink="/TicketTravel">
            Find out more
          </a>
                    </div>
                </figure>
            </a>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <a class="image-zoom">
                <figure class="ratio-image card-grid__image">
                    <img width="550" height="450" src="../../../assets/Slider/Special-Cargo-790x520-1.jpg" class="attachment-card size-card zoom" alt="Ground handling" loading="lazy">
                    <div class="xyzClass">
                        <div class="card-grid__content" data-aos-mirror="true" data-aos="fade-down-right" data-aos-duration="2000">
                            <figure class="card-grid__icon">
                                <img src="../../../assets/Slider/plane-svgrepo-com.svg" class="attachment-icon size-icon" alt="" loading="lazy" height="20.54" width="21.1">
                            </figure>
                            <h4>Cargo Sales Services</h4>
                            <a class="btn--action" routerLink="/CargoSales" target="_self">
                          Find out more
            </a>
                        </div>
                    </div>
                </figure>
            </a>
        </div>
    </div>
</div>

<!-- Our Clients -->
<div class="container mt-3">
    <div class="row ">
        <div class="col-md-12  d-flex justify-content-center">
            <div class="card" style="bottom: 38px; z-index: 1;border-bottom: 4px solid;border-bottom-color: #1e3669;padding: 0px 30px 0px 30px;" data-aos="fade-down" data-aos-duration="2000">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <h4 class="title" style="font-weight: bold;">Our Clients</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="clients" class="section-bg ">
    <div class="container">
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/omanair.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/qatarairways.gif" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/saudia.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/gulfair.gif" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/flydubai.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/shaheenair.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/sereneair.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/etihad.gif" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/ipSrilankanLogo.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/cargolux.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/salamair.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/saudia.png" class="img-fluid" alt=""> </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Corporate Clients -->
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-12  d-flex justify-content-center">
            <div class="card" style="bottom: 38px; z-index: 1;border-bottom: 4px solid;border-bottom-color: #1e3669;padding: 0px 30px 0px 30px;" data-aos="fade-down" data-aos-duration="2000">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <h4 class="title" style="font-weight: bold;">Corporate Clients</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="clients" class="section-bg ">
    <div class="container">
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/princelyjets.gif" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/askari-aviation.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/menaaerospace.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/rakairways.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/HADID_Logo.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/gulfair.gif" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/flynas.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/etihad.gif" class="img-fluid" alt=""> </div>
            </div>
        </div>
    </div>
</section>



<!-- Our Certificate -->
<div class="container mt-5">
    <div class="row ">
        <div class="col-md-12  d-flex justify-content-center">
            <div class="card" style="bottom: 38px; z-index: 1;border-bottom: 4px solid;border-bottom-color: #1e3669;padding: 0px 30px 0px 30px;" data-aos="fade-down" data-aos-duration="2000">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            <h4 class="title" style="font-weight: bold;">Certification</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="clients" class="section-bg ">
    <div class="container">
        <div class="row no-gutters clients-wrap clearfix wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets//Slider/iso9001-2008certification.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/ohsas-18001-occupational-health-500x500.jpg" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-up" data-aos-duration="2000"> <img src="../../../assets/Slider/ra3.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/Isago.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000"> <img src="../../../assets/Slider/Pharma-CEIV-thumb.png" class="img-fluid" alt=""> </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <div class="client-logo" data-aos-once="false" data-aos-mirror="true" data-aos="zoom-in-down" data-aos-duration="2000">
                    <a data-toggle="modal" data-target="#myModal"><img src="../../../assets/Slider/IATA2.png" class="img-fluid" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Large modal -->
