.contact-card {
    position: relative;
    border-radius: 0px !important;
    border: 6px;
    left: 0px;
    padding: 7px 8px 17px 4px;
    background: white;
}

.contacts-grid__item__inner {
    background: #e5f3ff;
    padding: 3rem;
}

.contacts-grid__title,
.gm-style__title {
    color: #1e3669;
    font-weight: 400;
}

.contacts-grid__services,
.gm-style__services {
    min-height: 3em;
    line-height: 1.2em;
}

.text--bold {
    font-weight: 700;
}

.contacts-grid__address,
.gm-style__address {
    min-height: 6em;
    margin-bottom: 4.5rem;
}

.map-container-3 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-3 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
