<app-topbar></app-topbar>
<img src="../../../assets/Slider/Contactusbanner.jpg" width="100%" class="" alt="Ground handling" loading="lazy">

<div class="contact-card">
    <div class="card-body ">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <h2 class="title" style="font-weight: bold;margin-bottom: 2rem;">Find your nearest contact</h2>
                <p style="word-spacing: 2px;font-weight:400;">Our teams across the globe are ready to assist you. You can search our airport contacts at more than 200 locations for information about local services. Or download details of our regional commercial managers. </p>
            </div>
            <div class="col-md-2">

            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="contacts-grid__item col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <div class="contacts-grid__item__inner">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="contacts-grid__title">Head Office</h4>
                        <!-- <p class="contacts-grid__services text--bold"> Ground Services </p> -->
                        <p class="contacts-grid__address">
                            Royal Plaza, 30-East, <br> Fazal-e-Haq Road, Blue Area, Islamabad, <br> Pakistan.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <!--Google map-->
                        <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2665.943584295111!2d73.08432961450715!3d33.72481204236258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbfbb514766d5%3A0x4b9ea279cba7dc5!2sRoyal%20Plaza!5e1!3m2!1sen!2sus!4v1640582302612!5m2!1sen!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div>
                    </div>
                </div>

                <p class="bottom-section" style="border-top: 1px solid #acacac; padding-top: 2rem;">
                    <b>Arifeen Ashraf</b><br>
                    <b>General Manager - Commercial & Contracts</b><br>
                    <a href="#" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-email.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> arifeen.ashraf@menzies-ras.com.pk
                    </a><br>
                    <a href="tel:+92 (0) 51 2801311-15" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-phone.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> +92 (0) 51 2801311-15
                    </a>
                </p>
            </div>
        </div>
        <div class="contacts-grid__item col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <div class="contacts-grid__item__inner">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="contacts-grid__title">Karachi, KHI</h4>
                        <!-- <p class="contacts-grid__services text--bold"> Ground Services </p> -->
                        <p class="contacts-grid__address">
                            Room 502, Level 5<br> Jinnah international Airport,<br> Karachi, Pakistan
                        </p>
                    </div>
                    <div class="col-md-6">
                        <!--Google map-->
                        <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.385760717048!2d67.16591401427877!3d24.900786349774226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb339c72ec76665%3A0xec5d1d821453c988!2sJinnah%20International%20Airport%20(JIAP)!5e1!3m2!1sen!2sus!4v1640582396673!5m2!1sen!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div>
                    </div>
                </div>

                <p class="bottom-section" style="border-top: 1px solid #acacac; padding-top: 2rem;">
                    <b>Rizwan Zaidi</b><br>
                    <b>Vice President - South</b><br>
                    <a href="mailto:rizwan.zaidi@menzies-ras.com.pk" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-email.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> rizwan.zaidi@menzies-ras.com.pk
                    </a><br>
                    <a href="tel:+92-21-34577081" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-phone.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> +92-21-34577081
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="row mt-3 mb-3">
        <div class="contacts-grid__item col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <div class="contacts-grid__item__inner">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="contacts-grid__title">Lahore, LHE</h4>
                        <!-- <p class="contacts-grid__services text--bold"> Ground Services </p> -->
                        <p class="contacts-grid__address">
                            Room No. 3186-89, Level 3<br> Allama iqbal International Airport,<br> Lahore, Pakistan
                        </p>
                    </div>
                    <div class="col-md-6">
                        <!--Google map-->
                        <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2732.419514841603!2d74.40832901444335!3d31.520545754288648!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39190f7df22c3fe7%3A0x8dd7ffda40aa6b03!2sAllama%20Iqbal%20International%20Airport!5e1!3m2!1sen!2sus!4v1640582439785!5m2!1sen!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div>
                    </div>
                </div>

                <p class="bottom-section" style="border-top: 1px solid #acacac; padding-top: 2rem;">
                    <b>Justin Cutajar</b><br>
                    <b>Ground Services Manager - SA</b><br>
                    <a href="mailto:justin.cutajar@menziesaviation.com" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-email.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> justin.cutajar@menziesaviation.com
                    </a><br>
                    <a href="tel:+61 4 1283 4254" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-phone.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> +92-42-36611778
                    </a>
                </p>
            </div>
        </div>
        <div class="contacts-grid__item col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <div class="contacts-grid__item__inner">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="contacts-grid__title">Islamabad, ISL</h4>
                        <!-- <p class="contacts-grid__services text--bold"> Ground Services </p> -->
                        <p class="contacts-grid__address">
                            International Cargo Complex,<br> IIAP Islamabad,<br> Pakistan
                        </p>
                    </div>
                    <div class="col-md-6">
                        <!--Google map-->
                        <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2671.163684036476!2d72.83185421450214!3d33.55637825114622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df999324e8b081%3A0x4436b8765030008!2sIslamabad%20International%20Airport!5e1!3m2!1sen!2sus!4v1640582493706!5m2!1sen!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div>
                    </div>
                </div>

                <p class="bottom-section" style="border-top: 1px solid #acacac; padding-top: 2rem;">
                    <b>Justin Cutajar</b><br>
                    <b>Ground Services Manager - SA</b><br>
                    <a href="mailto:justin.cutajar@menziesaviation.com" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-email.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> justin.cutajar@menziesaviation.com
                    </a><br>
                    <a href="tel:+61 4 1283 4254" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-phone.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> +61 4 1283 4254
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="contacts-grid__item col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <div class="contacts-grid__item__inner">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="contacts-grid__title">Peshawar, PS</h4>
                        <!-- <p class="contacts-grid__services text--bold"> Ground Services </p> -->
                        <p class="contacts-grid__address">
                            Room 26-27, 1st Floor,<br> Aviation Building Bacha Khan international airport,<br> Peshawar, Pakistan
                        </p>
                    </div>
                    <div class="col-md-6">
                        <!--Google map-->
                        <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2657.6836933656878!2d71.51701871451515!3d33.989824528465704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d9177479eea517%3A0x74b026af758d23b8!2sBacha%20Khan%20International%20Airport!5e1!3m2!1sen!2sus!4v1640582536055!5m2!1sen!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div>
                    </div>
                </div>

                <p class="bottom-section" style="border-top: 1px solid #acacac; padding-top: 2rem;">
                    <b>Justin Cutajar</b><br>
                    <b>Ground Services Manager - SA</b><br>
                    <a href="mailto:justin.cutajar@menziesaviation.com" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-email.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> justin.cutajar@menziesaviation.com
                    </a><br>
                    <a href="tel:+92-91-5253453-54" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-phone.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> +92-91-5253453-54
                    </a>
                </p>
            </div>
        </div>
        <div class="contacts-grid__item col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <div class="contacts-grid__item__inner">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="contacts-grid__title">Faisalabad , FSD</h4>
                        <!-- <p class="contacts-grid__services text--bold"> Ground Services </p> -->
                        <p class="contacts-grid__address">
                            Royal Airport services,<br> Faisalabad international Airport Faisalabad,<br> Pakistan
                        </p>
                    </div>
                    <div class="col-md-6">
                        <!--Google map-->
                        <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2737.0215466421732!2d72.98569681443892!3d31.362845562043017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39225ca1cac62539%3A0x9a08c8733582da3f!2sFaisalabad%20International%20Airport!5e1!3m2!1sen!2sus!4v1640582593321!5m2!1sen!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div>
                    </div>
                </div>

                <p class="bottom-section" style="border-top: 1px solid #acacac; padding-top: 2rem;">
                    <b>Justin Cutajar</b><br>
                    <b>Ground Services Manager - SA</b><br>
                    <a href="mailto:justin.cutajar@menziesaviation.com" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-email.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> justin.cutajar@menziesaviation.com
                    </a><br>
                    <a href="tel:+92-41-2413801-04" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-phone.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> +92-41-2413801-04
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="contacts-grid__item col-md-6" data-aos="fade-up" data-aos-anchor-placement="top-center" data-aos-duration="2000">
            <div class="contacts-grid__item__inner">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="contacts-grid__title">Multan, ML</h4>
                        <!-- <p class="contacts-grid__services text--bold"> Ground Services </p> -->
                        <p class="contacts-grid__address">
                            Room No 175, Level-2 International Side,<br> Multan International Airport, <br> Multan, Pakistan
                        </p>
                    </div>
                    <div class="col-md-6">
                        <!--Google map-->
                        <div id="map-container-google-3" class="z-depth-1-half map-container-3">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2770.425286794419!2d71.4225032144072!3d30.19602671835226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x393b334cabfe29cd%3A0x975957c22207d539!2sMultan%20International%20Airport!5e1!3m2!1sen!2sus!4v1640582652798!5m2!1sen!2sus"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </div>
                    </div>
                </div>

                <p class="bottom-section" style="border-top: 1px solid #acacac; padding-top: 2rem;">
                    <b>Justin Cutajar</b><br>
                    <b>Ground Services Manager - SA</b><br>
                    <a href="mailto:justin.cutajar@menziesaviation.com" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-email.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> justin.cutajar@menziesaviation.com
                    </a><br>
                    <a href="tel:+61 4 1283 4254" class="contacts-grid__tel" style="border-top: 0px; padding-top: 0px;">
                        <img src="../../../assets/Slider/icon-phone.svg" class="icon" style="height: 1rem; margin-right: 0.3rem; "> +92-61-6306715-20
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
