<app-topbar></app-topbar>
<img src="../../../assets/Slider/Groundhandlingone.jpg" style="width: 100%;" class="" alt="Ground handling" loading="lazy">
<div class="container">
    <div class="row">
        <div class="col-12  d-flex justify-content-center">
            <div class="ground-card" style="bottom: 38px; z-index: 1;" data-aos-mirror="false" data-aos="fade-up" data-aos-duration="2000">
                <div class="card-body">
                    <div class="">
                        <div>
                            <h1 class="title" style="font-weight: bold;margin-bottom: 2rem;">About Us</h1>
                            <p style="word-spacing: 2px;">People. Passion. Pride. These are the values that have driven our team since 2006. Since that time, we have developed to become a critical partner in the global aviation industry, delivering time-critical logistics services
                                at more than 200 locations in more than 37 countries, across six continents. But at the heart of our business is our people. Whether serving our clients landside or airside, above or below the wing, our teams are agile,
                                dedicated, and eager to help. Safety and security are at the heart of everything we do. We have a duty of care to look after each other, our customers and their customers. And we care about the communities in which we operate.
                                We understand that what we do makes a difference at many levels. Our services help keep people moving with everyone playing their part, delivering with precision, round the clock, every minute of every day. In this we take
                                immense pride, and it strengthens our determination to deliver. Our core services include ground services, cargo, fuelling, executive services and offline services. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
