<app-topbar></app-topbar>
<img src="../../../assets/Slider/ourteambanner.jpg" style="width: 100%;" class="" alt="Ground handling" loading="lazy">
<div class="py-5 team4">
    <div class="container">
        <div class="row justify-content-center mb-4" data-aos="fade-down" data-aos-duration="2000">

            <div class="col-md-7 text-center">
                <h3 class="mb-3" style="font-weight: bold;margin-bottom: 2rem;">Experienced & Professional Team</h3>
                <h6 class="subtitle" style="word-spacing: 2px;">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>


        </div>
        <div class="row">
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../../../assets/Slider/teampic.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2" data-aos="fade-up" data-aos-duration="2000">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle mb-3">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../../../assets/Slider/teampic.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2" data-aos="fade-up" data-aos-duration="2000">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle mb-3">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../../../assets/Slider/teampic.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2" data-aos="fade-up" data-aos-duration="2000">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle mb-3">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
            <!-- column  -->
            <!-- column  -->
            <div class="col-lg-3 mb-4">
                <!-- Row -->
                <div class="row">
                    <div class="col-md-12">
                        <img src="../../../assets/Slider/teampic.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="pt-2" data-aos="fade-up" data-aos-duration="2000">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle mb-3">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Row -->
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
