<!-- Header Area Start -->
<header class="construct-header-area">
    <div class="header-top-area">
        <div class="header-top-overlay">
            <div class="header-top-right">
                <img data-aos="fade-left" data-aos-duration="2000" style="height: 25px;padding-left: 44%;margin-top: 10px;" src="../../../../assets/Slider/link.png" alt="site logo" />
                <ul>
                    <li>

                    </li>

                    <!-- <li><a href="#"><i class="fa fa-linkedin"></i></a></li> -->
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="header-top-left">
                        <p>Have any question? +92 (0) 51 2801311-15</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="header-top-right">
                        <!-- <ul>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-logo-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="construct-logo">
                        <a class="animated fadeInUp" href="#">
                            <img style="height: 55px;" src="../../../../assets/Slider/Menzieslogo.png" alt="site logo" />
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="logoright-section">
                        <div class="single-logo-right">
                            <div class="logo-right-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="logo-right-text">
                                <h4>call us at</h4>
                                <p>Mon-Fri 09:00 to 17:00</p>
                            </div>
                        </div>
                        <div class="single-logo-right">
                            <div class="logo-right-icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="logo-right-text">
                                <h4>Mail us</h4>
                                <p>arifeen@menzies-ras.com.pk</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mainmenu-area main" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="mainmenu">
                        <ul id="construct_navigation">
                            <li class=""><a href="" [routerLinkActive]="['active']">home</a></li>
                            <li><a routerLink="/About" [routerLinkActive]="['active']">about</a></li>
                            <li><a [routerLinkActive]="['active']">our services</a>
                                <ul>
                                    <li><a routerLink="/Groundservice" [routerLinkActive]="['active']">Ground Handling</a>
                                        <li><a routerLink="/CargoHandlingService" [routerLinkActive]="['active']">Cargo Handling</a>
                                            <li><a routerLink="/TicketTravel" [routerLinkActive]="['active']">Ticketing & Travel</a>
                                                <li><a routerLink="/CargoSales" [routerLinkActive]="['active']">Cargo Sales</a>
                                </ul>
                                </li>
                                <li><a routerLink="/OurTeam" [routerLinkActive]="['active']">Our Team</a></li>
                                <li><a routerLink="/Career" [routerLinkActive]="['active']">careers</a></li>
                                <li><a routerLink="/News" [routerLinkActive]="['active']">news</a></li>
                                <li><a routerLink="/Contact" [routerLinkActive]="['active']">contact</a></li>

                        </ul>
                    </div>
                    <!-- Responsive Menu Start -->
                    <div class="construct-responsive-menu"></div>
                    <!-- Responsive Menu End -->
                </div>
                <div class="col-md-2">
                    <div class="search_icon" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-search"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
