<section class="banner">
    <owl-carousel-o [options]="bannerslider">
        <ng-template carouselSlide>
            <img src="../../../assets/Slider/Sliderbannerfive.jpg" alt="Banner">
            <div class="carousel-caption card opacity-75">
                <h2 class="animated fadeInDownBig text-dark" data-aos="fade-up" data-aos-duration="3000">
                    <h2>Caption Animation</h2>
                </h2>
                <p class="animated fadeInUp text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                <p class="animated fadeInUp"><a href="#" class="btn btn-primary btn-rounded btn-large">Learn More</a></p>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/Slider/Sliderbannerseven.jpg" alt="Banner">
        </ng-template>
        <ng-template carouselSlide>
            <img src="../../../assets/Slider/SliderBannersix.jpg" alt="Banner">

            <!-- <img autoplay loop muted style="height: 450px; width: 1366px;" src="../../../assets/Slider/slidervideo.gif"> -->
            <div class="carousel-caption card opacity-75">
                <h2 class="animated fadeInDownBig text-dark">
                    <h2>Caption Animation</h2>
                </h2>
                <p class="animated fadeInUp text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                <p class="animated fadeInUp"><a href="#" class="btn btn-primary btn-rounded btn-large">Learn More</a></p>
            </div>
        </ng-template>
    </owl-carousel-o>
</section>
