<!-- Footer Area Start -->
<footer class="construct-footer-area">
    <div class="construct-footer-top-area section_50">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="single-footer ">
                        <a class="footermainli">Ground Handling</a>
                        <ul class="footer-inner">
                            <li class="footerliststyle">
                                <a>
                  Ramp Service
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Passenger Service
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Airport Lounges
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Meet and Greet
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Private Aviation
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Security Servive
                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-footer ">
                        <h6 class="footermainli mt-1">Cargo</h6>
                        <ul class="footer-inner">
                            <li class="footerliststyle">
                                <a>
                  Cargo Handling
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Cargo Web Portal
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Airport Lounges
                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="single-footer ">
                        <h6 class="footermainli mt-1">Catering</h6>
                        <ul class="footer-inner">
                            <li class="footerliststyle">
                                <a>
                  Ramp Service
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Passenger Service
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Airport Lounges
                </a>
                            </li>
                            <li class="footerliststyle">
                                <a>
                  Meet and Greet
                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3 d-flex justify-content-end">
                    <div class="single-footer ">
                        <a href="i#">
                            <img style="height: 55px;" src="../../../../assets/Slider/Menzieslogo.png" alt="footer logo" />
                        </a>
                        <p></p>
                        <div class="footer-social-icon">
                            <h3>Follow Us</h3>
                            <img style="height: 26px;" src="../../../../assets/Slider/link.png" alt="site logo" />

                            <!-- <ul class="footer-social">
                                <li>
                                    <a href="#" class="fb" id="fb">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter" id="twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="gp" id="gp">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin" id="linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="construct-footer-bottom-area section_15">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-left">
                        <p class="text-center">Copyrights &copy; 2022 Mezies-RAS. All Rights Reserved. </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
