<app-topbar></app-topbar>
<img src="../../../assets/Slider/Banner - Careers.jpg" style="width: 100%;" class="" alt="Ground handling" loading="lazy">
<div class="container mt-4" style="overflow: hidden;">
    <div class="row">
        <div class="col-lg-10 mx-auto mb-4">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="2000">
                <h3 class="top-c-sep" style="font-weight: bold;margin-bottom: 2rem;">Grow your career with us</h3>
                <p>Our people are the beating heart of our business. We are proud of their performance, their ongoing development, and their dedication to delivering the best service for our customers</p>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                <form action="#" class="career-form mb-60 ">
                    <div class="row">
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="input-group position-relative">
                                <input type="text" class="form-control " placeholder="Enter Your Keywords" id="keywords">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="">
                                <select class="form-control">
                                  <option selected="">Location</option>
                              </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="">
                                <select class="form-control">
                                  <option >Select Job Type</option>

                              </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <button type="button" class="btn btn-sm btn-block btn-light w-100" id="contact-submit">
                              Search
                          </button>
                        </div>
                    </div>
                </form>

                <div class="filter-result">
                    <p class="mb-30 ff-montserrat">Total Job Openings : 9</p>
                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30" data-aos-mirror="true" data-aos="fade-up" data-aos-duration="2000">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                FD
                            </div>
                            <div class="job-content">
                                <h5 class="text-center text-md-left">Front End Developer</h5>
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-pin mr-2"></i> Los Angeles
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-money mr-2"></i> 2500-3500/pm
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-time mr-2"></i> Full Time
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <a href="#" class="btn btn-primary d-block w-100 d-sm-inline-block">Apply now</a>
                        </div>
                    </div>

                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30" data-aos-mirror="true" data-aos="fade-up" data-aos-duration="2000">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                UX
                            </div>
                            <div class="job-content">
                                <h5 class="text-center text-md-left">Ui/Ux Developer</h5>
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-pin mr-2"></i> Los Angeles
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-money mr-2"></i> 2500-3500/pm
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-time mr-2"></i> Full Time
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <a href="#" class="btn d-block w-100 d-sm-inline-block btn-primary">Apply now</a>
                        </div>
                    </div>

                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30" data-aos-mirror="true" data-aos="fade-up" data-aos-duration="2000">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                GD
                            </div>
                            <div class="job-content">
                                <h5 class="text-center text-md-left">Graphic Designer</h5>
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-pin mr-2"></i> Los Angeles
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-money mr-2"></i> 2500-3500/pm
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-time mr-2"></i> Full Time
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <a href="#" class="btn d-block w-100 d-sm-inline-block btn-primary">Apply now</a>
                        </div>
                    </div>

                    <div class="job-box d-md-flex align-items-center justify-content-between mb-30" data-aos-mirror="true" data-aos="fade-up" data-aos-duration="2000">
                        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                JS
                            </div>
                            <div class="job-content">
                                <h5 class="text-center text-md-left">Javascript Developer</h5>
                                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-pin mr-2"></i> Los Angeles
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-money mr-2"></i> 2500-3500/pm
                                    </li>
                                    <li class="mr-md-4">
                                        <i class="zmdi zmdi-time mr-2"></i> Full Time
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="job-right my-4 flex-shrink-0">
                            <a href="#" class="btn d-block w-100 d-sm-inline-block btn-primary">Apply now</a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- START Pagination -->
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-reset justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <i class="zmdi zmdi-long-arrow-left"></i>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item d-none d-md-inline-block"><a class="page-link" href="#">2</a></li>
                    <li class="page-item d-none d-md-inline-block"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="zmdi zmdi-long-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- END Pagination -->
        </div>
    </div>
</div>
<app-footer></app-footer>
