<div>
  <app-topbar></app-topbar>
    <app-home></app-home>
    <div>
      <app-body></app-body>
    </div>

    <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
<!-- <app-footer></app-footer> -->
